.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.cache

# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript

*.sublime*
.idea

compare/bower_components/**/.*

# bitmaps_test
# bitmaps_reference
compare/config.json
capture/config.json
